.questions {
  justify-items: flex-start;
}

.questions-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 60px;
}

.blast-params {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
