services:
  backend:
    volumes:
      - ./backend/src/:/app/src/
    ports:
      - "${API_PORT}:8000"
    environment:
      - "POSTGRES_DEV_HOST=dev-db"
      - "DJANGO_DEBUG=1"
    depends_on:
      - "dev-db"

  frontend:
    build:
      context: ./frontend
      target: dev
    volumes:
      - ./frontend:/app/frontend
    environment:
      - "VITE_API=http://localhost:${API_PORT}"
    ports:
      - "5180:5173"

  db:
    ports:
      - "5460:5432"
    
  # used by atlas to create migrations
  dev-db:
    image: postgres:16
    env_file:
      - .env
