.fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: flex-end;
  width: 100%;
  gap: 20px;
}

.details {
  --cols: 6;
}

@media (max-width: 1000px) {
  .details {
    --cols: 4;
  }
}

@media (max-width: 800px) {
  .details {
    --cols: 2;
  }
}
