.chart {
  max-height: 500px;
}

.cell:is(:hover, :focus-visible) {
  stroke: var(--black);
  stroke-width: 5;
  outline: none;
}

.chart:has(.cell:is(:hover, :focus-visible))
  .cell:not(:is(:hover, :focus-visible)) {
  opacity: 0.25;
}
