.cell {
  outline: none;
}

.cell:is(:hover, :focus-visible) {
  stroke: var(--black);
  stroke-width: 5;
}

.cells:has(.cell:is(:hover, :focus-visible))
  .cell:not(:is(:hover, :focus-visible)) {
  opacity: 0.25;
}
