.legend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 10px 20px;
}

.legend > * {
  min-width: 0;
}

.symbol {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin: 2px;
  overflow: visible;
}
