.network {
  display: grid;
  grid-template-columns: max-content auto;
  width: 100%;
}

.expanded {
  aspect-ratio: unset !important;
  width: calc(100vw - 40px);
  height: calc(100vh - 100px);
}

.edge-symbol {
  width: 20px;
  height: 3px;
  rotate: -30deg;
}

.container {
  background: var(--white);
}

.container > * {
  width: 100% !important;
  height: 100% !important;
}
