.segment {
  cursor: pointer;
  transition: opacity var(--fast);
}

.shape {
  outline: none;
  transition: stroke-opacity var(--fast);
  stroke-opacity: 0;
}

.shape:hover,
.shape:focus-visible {
  stroke-opacity: 1;
}

.label {
  pointer-events: none;
}
