.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  gap: 20px;
}

.chart {
  max-width: 100%;
  justify-self: center;
}

.segment {
  cursor: pointer;
  transition: opacity var(--fast);
}

.shape {
  outline: none;
  transition: stroke-opacity var(--fast);
  stroke-opacity: 0;
}

.shape:hover,
.shape:focus-visible {
  stroke-opacity: 1;
}

.label {
  pointer-events: none;
}

.breadcrumbs {
  max-width: 200px;
  text-align: right;
}

.breadcrumb {
  padding: 5px;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: auto;
  }
}
