.container {
  width: 600px;
  max-width: 100%;
  padding: 20px;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100px, 100%), auto));
  justify-content: center;
  width: 0;
  min-width: 100%;
  gap: 10px 20px;
}

.legend-color {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
}

.chart {
  aspect-ratio: 1 / 1;
  width: 100%;
}

.segment {
  cursor: pointer;
  transition: opacity var(--fast);
}

.shape {
  outline: none;
  transition: opacity var(--fast);
}

.shape:hover {
  opacity: 0.5;
}

.label {
  pointer-events: none;
}

.breadcrumbs {
  width: 0;
  min-width: 100%;
}

.breadcrumb {
  --inset: 5px;
  --padding: 5px;
  padding: var(--padding) calc(3 * var(--padding));
  clip-path: polygon(
    0% 0%,
    var(--inset) 50%,
    0% 100%,
    calc(100% - var(--inset)) 100%,
    100% 50%,
    calc(100% - var(--inset)) 0%
  );
}
