.node {
  cursor: help;
  transition: fill var(--fast);
}

.node:hover,
.node:focus-visible {
  outline: none;
  fill: var(--black);
}

.selected {
  grid-column: 1 / -1;
  width: 0;
  min-width: 100%;
}
