.container {
  display: grid;
  grid-template-columns: max-content auto;
  place-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.chart {
  max-width: 100%;
}

.node {
  cursor: help;
  transition: fill var(--fast);
}

.node:hover,
.node:focus-visible {
  outline: none;
  fill: var(--black);
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
