/** card with depth */

.card {
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: var(--box-shadow);
  color: var(--black);
}

/** make element full view size and only thing on screen */

.print-element {
  z-index: 99999 !important;
  position: fixed !important;
  aspect-ratio: auto !important;
  width: 100vw !important;
  height: 100vh !important;
  inset: 0 !important;
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  background: white !important;
  box-shadow: none !important;
  isolation: isolate !important;
}

body:has(.print-element)
  *:not(:has(.print-element), .print-element, .print-element *) {
  display: none !important;
}

/** visually hide something but keep it available to screen-readers */
/** https://tailwindcss.com/docs/screen-readers */

.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
  white-space: nowrap;
}

/** animations */

.pulse {
  animation: pulse 0.5s ease-in-out alternate infinite;
}

@keyframes pulse {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
