.select {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  padding: 5px;
  gap: 10px;
  border-bottom: solid 2px currentColor;
  border-radius: var(--rounded) var(--rounded) 0 0;
  color: var(--accent);
  text-align: left;
  transition: color var(--fast);
}

.button:hover {
  color: var(--deep);
}

.buttonLabel {
  flex-grow: 1;
}

.list {
  z-index: 999 !important;
  margin: 0;
  padding: 0;
  border-radius: var(--rounded);
  background: var(--white);
  box-shadow: var(--shadow);
  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: 30px 2fr 1fr 30px;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: background var(--fast);
}
.item[data-active],
.item:hover {
  background: var(--pale);
}

.check {
  justify-self: center;
  height: 15px;
  color: var(--accent);
}

.text {
  padding-right: 10px;
}

.info {
  justify-self: flex-end;
  color: var(--gray);
}

.icon {
  justify-self: center;
  color: var(--gray);
}
