@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-accent: oklch(55% 0.08 195);
  --color-deep: oklch(45% 0.08 315);
  --color-pale: oklch(95% 0.03 70);

  --color-black: oklch(0% 0 315);
  --color-dark-gray: oklch(35% 0 315);
  --color-gray: oklch(65% 0 315);
  --color-light-gray: oklch(85% 0 315);
  --color-off-white: oklch(95% 0 315);
  --color-alt-white: oklch(98% 0 315);
  --color-white: oklch(100% 0 315);

  --color-shadow: #00000020;
  --color-overlay: #00000080;
  --color-info: oklch(75% 0.15 235);
  --color-success: oklch(70% 0.15 160);
  --color-warning: oklch(80% 0.15 75);
  --color-error: oklch(65% 0.15 15);

  --content: --spacing(300);

  --radius-*: initial;
  --radius-md: 7px;

  --shadow-md: 0 0 2px var(--color-shadow), 0 0 10px var(--color-shadow);
  --shadow-overlay: 0 0 0 9999px var(--color-overlay);

  --font-weight-*: initial;

  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --font-sans: "Outfit Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;

  --breakpoint-xs: 20rem;
  --breakpoint-sm: 32rem;
  --breakpoint-md: 44rem;
  --breakpoint-lg: 56rem;
  --breakpoint-xl: 68rem;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
  --color-accent: oklch(80% 0.08 195);
  --color-deep: oklch(70% 0.08 315);
  --color-pale: oklch(25% 0.01 70);

  --color-black: oklch(100% 0 315);
  --color-dark-gray: oklch(85% 0 315);
  --color-gray: oklch(60% 0 315);
  --color-light-gray: oklch(35% 0 315);
  --color-off-white: oklch(25% 0 315);
  --color-alt-white: oklch(15% 0 315);
  --color-white: oklch(0% 0 315);

  --color-shadow: #ffffff20;
  --color-overlay: #ffffff80;
  --color-info: oklch(75% 0.15 235);
  --color-success: oklch(70% 0.15 160);
  --color-warning: oklch(80% 0.15 75);
  --color-error: oklch(65% 0.15 15);
}

@layer base {
  * {
    @apply outline-accent underline-offset-2 outline-offset-2;
  }

  html {
    @apply font-regular bg-white font-sans leading-normal text-black;
    font-size: 105%;
  }

  body {
    @apply flex min-h-dvh flex-col;
  }

  #root {
    @apply contents;
  }

  main {
    @apply flex grow flex-col;
  }

  section {
    --width: 250;
    @apply even:bg-alt-white relative isolate flex flex-col gap-8 bg-white px-[max(--spacing(12),(100%-(--spacing(1))*var(--width))/2)] py-12 last:grow;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply text-deep flex scroll-mt-8 items-center gap-[0.75em] leading-normal font-medium tracking-wide not-first:mt-8;
  }

  h1 {
    @apply justify-center text-center text-3xl uppercase;
  }

  h2 {
    @apply justify-center text-center text-2xl uppercase;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  hr {
    @apply bg-off-white h-px w-full border-0;
  }

  strong,
  b {
    @apply font-bold;
  }

  img,
  svg {
    @apply [display:unset] shrink-0 overflow-visible;
  }

  p {
    @apply leading-loose;
  }

  a {
    @apply text-accent underline transition hover:text-current;
  }

  button,
  summary {
    @apply flex cursor-pointer items-center justify-center transition;
  }

  label {
    @apply flex items-center gap-2;
  }

  input {
    @apply min-w-0 transition;
  }

  textarea {
    @apply min-w-0 resize-none transition;
  }

  ul,
  ol {
    @apply flex list-[revert] flex-col pl-6 leading-loose;
  }

  ol {
    @apply list-decimal;

    ol {
      @apply list-[lower-alpha];

      ol {
        @apply list-[lower-roman];
      }
    }
  }

  li {
    @apply pl-2;
  }

  table {
    @apply border-collapse;
  }

  thead tr {
    @apply bg-alt-white border-off-white border-b;
  }

  tbody tr {
    @apply even:bg-alt-white bg-white;
  }

  th {
    @apply text-left font-medium;
  }

  th,
  td {
    @apply not-last:border-off-white p-2 not-last:border-r;
  }

  dl {
    --cols: 2;
    @apply grid grid-cols-[repeat(var(--cols),auto)] gap-x-8 gap-y-2;
  }

  dt {
    @apply font-medium;
  }

  dd {
    @apply wrap-anywhere;
  }

  dd:empty {
    @apply before:text-gray before:content-['-'];
  }

  :not(pre) > code {
    @apply bg-dark-gray rounded-[0.25em] px-1 font-mono text-white;
  }

  pre {
    @apply bg-dark-gray max-w-full overflow-x-auto rounded-md p-4 font-mono text-white;
  }

  blockquote {
    @apply border-light-gray rounded-r-md border-l-4 p-4 leading-loose;
  }

  .icon,
  .lucide {
    @apply h-[1.1em] w-[unset];
  }

  [aria-disabled="true"] {
    @apply cursor-not-allowed opacity-50 grayscale;
  }

  :not(html) ::-webkit-scrollbar {
    @apply bg-off-white size-2 rounded-full;
  }

  :not(html) ::-webkit-scrollbar-thumb {
    @apply bg-gray rounded-full;
  }

  :focus-visible {
    @apply focus;
  }
}

@utility width-sm {
  --width: 120;
}

@utility width-full {
  --width: 999;
}

@utility grid-layout {
  --min: --spacing(50);
  @apply grid gap-4;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
}

@utility text-tooltip {
  @apply cursor-help underline decoration-dashed;
}

@utility controls {
  @apply flex flex-wrap items-center justify-center gap-8 *:flex *:flex-wrap *:items-center *:justify-center *:gap-4;
}

@utility focus {
  @apply outline-accent rounded-md outline-2 outline-offset-2;
}
